<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-10">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Detalle de la Compra</h1>
    <div class="space-y-4">
        {{#each cart.products}}
            <div class="flex items-center justify-between bg-gray-50 p-4 rounded-lg">
                <div class="flex items-center space-x-4">
                    <img src="{{product.thumbnails}}" class="w-fit h-10 object-cover rounded-md inset-0 m-auto">
                    <div>
                        <h2 class="text-lg">{{product.title}}</h2>
                    </div>
                    <div>
                        <p class="text-gray-600">${{product.price}}</p>
                    </div>
                    <div class="flex items-center space-x-2  mt-2">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" onclick="decreaseQuantity()">
                            -
                        </button>
                        <input type="number" id="quantity-input" value="{{quantity}}" min="1" class="w-16 text-center border border-gray-300 rounded-md py-2">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" onclick="increaseQuantity({{product.stock}})">
                            +
                        </button>
                    </div>
                </div>
                <button class="text-red-500 hover:text-red-600" onclick="removeProduct('{{product._id}}')">🗑️</button>
            </div>
        {{/each}}
    </div>
    <div class="mt-6 flex justify-between items-center text-lg font-semibold">
        <span>Total:</span>
        <span class="text-green-500">${{cart.total}}</span>
    </div>
    <div class="mt-6 flex space-x-4">
        <button class="w-1/2 px-6 py-3 bg-red-500 text-white rounded-lg hover:bg-red-600" onclick="cancelPurchase()">
            Cancelar Compra
        </button>
        <button class="w-1/2 px-6 py-3 bg-green-500 text-white rounded-lg hover:bg-green-600" onclick="buyPurchase()">
            Finalizar Compra
        </button>
    </div>
</div>
<input type="hidden" id="port" value="{{port}}">